<ol class="breadcrumb">
    <li><a ui-sref="app.welcome">首页</a></li>
    <li><a ui-sref="app.meta-app-type-list">应用类型列表</a></li>
    <li class="active">新增</li>
</ol>

<form class="form form-horizontal" name="createForm" novalidate>

    <div class="form-group" ng-class="{'has-error':createForm.appTypeId.$dirty&&createForm.appTypeId.$error.required}">
        <label class="col-sm-2 control-label">应用类型编号</label>
        <div class="col-sm-2">
            <input type="number" class="form-control" name="appTypeId" ng-model="item.appTypeId" required />
            <p class="text-danger" ng-show="createForm.appTypeId.$dirty && createForm.appTypeId.$error.required">必填</p>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error':createForm.appTypeName.$dirty&&createForm.appTypeName.$error.required}">
        <label class="col-sm-2 control-label">应用类型</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="appTypeName" ng-model="item.appTypeName" required />
            <p class="text-danger" ng-show="createForm.appTypeName.$dirty && createForm.appTypeName.$error.required">必填</p>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <input type="button" ng-click="confirmCreate()" value="确认新增" class="btn btn-success" />
        </div>
    </div>

</form>
